# compiled python code files and OS/editor temp files
*.DS_Store
.*.swp
*~
*.log

# Terraform files and directories
.terraform
*.tfstate*

# Ignore PyCharm/IntelliJ IDEA files
/.idea/

# Ignore VSCode files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

*.pyc

# python virtualenv
/.pyenv/
/.venv/

pylint.out
.pytest_cache
.mypy_cache

# test/coverage/style reports
/.coverage*
/.profile
/htmlcov/
/cobertura.xml
/coverage.xml
/results.xml

/lib/dist/
/dist/
